{% extends "master.html" %}
{% load socialaccount %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'home/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
    <script type="module" src="{% static 'js/index.js' %}"></script>  
{% endblock %}

{% block content %}
<div class="background glass">
    <div class="Support-Box">
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
        <script type='text/javascript'>
            kofiwidget2.init('Support Me on Ko-fi', '#2847e0', 'S6S2YY2YZ');
            kofiwidget2.draw();
        </script>
    </div>
    <nav>
        <ul  id="navbar">
            <div class="MC-Left">
                <a href="/">
                    <img src="../../static/images/glow logo5.png" alt="">
                    <h1>Glow</h1>
                </a>
            </div>
            <div class="MC-Cont">
                <a href="/#FeaturesSection"><li>Features</li></a>
                <a href="/#About-Section"><li>About</li></a>
                <a href="/#Contact-Section"><li>Contact</li></a>
            </div>
            
            <div class="MC-Right">
                <a href="{% url 'login' %}"><li id="MC-Login">Login</li></a>
                <a href="{% url 'signup' %}"><li id="MC-SignUp">Signup</li></a>

                <div class="Menu">
                    <img src="../../static/images/menu2.png" alt="">
                </div>
            </div>
            
        </ul>
        <div class="Down-Menu">
            <a href="{% url 'login' %}"><li>Login</li></a>
            <a href="{% url 'signup' %}"><li>Signup</li></a>
            <a href="/#FeaturesSection"><li>Features</li></a>
            <a href="/#About-Section"><li>About</li></a>
            <a href="/#Contact-Section"><li>Contact</li></a>
        </div>
    </nav>
    <div class="responsive">
        <div class="container glass2">
            <div class="container-content">
                <div class="CC-Top1">
                    <img src="../../static/images/glow logo5.png" alt="icon">
                </div>
                <div class="CC-Top">
                    <p>Your Next Social Stop, Register Now!</p>
                </div>
                <div class="SCC-Mid">
                    <form id="signup_form" action="{% url 'account_signup' %}" method="POST">
                        {% csrf_token %}

                        <div>
                            <span class="input-icon">
                                <img src="{% static 'images/user_1_line.svg' %}" alt="icon">
                                <input type="text" name="username" placeholder="Username" required>
                                {{ form.username }}
                            </span>
                        </div>

                        <div>
                            <span class="input-icon">
                                <img src="{% static 'images/mail-3111.svg' %}" alt="icon">
                                <input type="email" name="email" placeholder="Your valid email" required>
                                {{ form.email }}
                            </span>
                        </div>
            
                        <div>
                            <span class="input-icon">
                                <img src="{% static 'images/padlock-11751.svg' %}" alt="icon">
                                <input type="password" name="password1" placeholder="Create a 6 + digit password" required>
                                {{ form.password1 }}
                            </span>
                        </div>

                        <div>
                            <span class="input-icon">
                                <img src="{% static 'images/padlock-11751.svg' %}" alt="icon">
                                <input type="password" name="password2" placeholder="Confirm your password" required>
                                {{ form.password2 }}
                            </span>
                        </div>
                </div>
                

                <div class="CC-Footer">
                    <button type="submit">Sign Up</button>
                </div>

                <div id="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
                <div class="CC-Footer2">
                    <div class="border"></div>
                    <p>OR</p>
                    <div class="border"></div>
                </div>
                <div class="CC-Footer3">
                    <a href="{% provider_login_url 'google' %}">
                        <button  class="google-login-link"> <img src="../../static/images/google.png" alt="">Sign in with Google </button>
                    </a>
                </div>

                <div class="CC-Footer4">
                    <p>Have an account? <a href="{% url 'login'%}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
