
{% extends "master.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/error.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="ErrorDiv">
    <img src="{% static 'images/Page-Not-Found-3--Streamline-Brooklyn.png' %}" alt="Server Error">
    <h1>404 - Page Not Found</h1>
    <p>Sorry, the page you are looking for does not exist.</p>
</div>
{% endblock %}