{% extends "master.html" %}
{% load static %}
{% load account %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'home/games.css' %}">
<script type="module" src="{% static 'js/toggle.js' %}"></script>
<script type="module" src="{% static 'js/post.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<style>
    iframe {
        width: 100%;
        height: 40rem;
        border: none;
    }
</style>

<div id="root">
    <div class="NCenter">
        <div class="RandomProf_MainCont">
            <div class="Profile_Title_Container">
                <a href="{% url 'game_list' %}">
                    <div class="PTC-Left">
                        <img src="{% static 'images/back.png' %}" alt="Back">
                        <p>Go Back</p>
                    </div>
                </a>
                <div class="PTC-Right"></div>
            </div>
            <br>
            <h1>Game Launch: ( {{ game_name }} )</h1>
            {% if launch_url %}
            <iframe src="{{ launch_url }}" allowfullscreen></iframe>
            {% else %}
            <p>No game URL available.</p>
            {% endif %}
        </div>
    </div>
    {% endblock %}