{% load static %}


<div class="Nav-Cont">
    <nav class="NLeft">
        <ul>

            <div class="NavLogo">
                <img src="https://ik.imagekit.io/b9bdd5j68/glow%20logo22.png/tr:q-100,tr:w-200,h-200" alt="">
                <h1>glow</h1>
            </div>
            <li id="loginNav"><img src="../static/images/mingcute_user-3-line.png" alt="">
                <p>Login</p>
            </li>
            <li id="AppearanceNav">
                <img src="../static/images/bright.png" alt="">
                <p>Appearance</p>
            </li>


        </ul>
    </nav>





</div>