{% extends "master.html" %}
{% load static %}
{% load account %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/dashboard.css' %}">
<script type="module" src="{% static 'js/toggle.js' %}"></script>
<script type="module" src="{% static 'js/logout.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
{% include "modal/loader.html" %}
{% include "account/logout.html" %}

<div id="Modal-Overlay">
    <div id="Post-Container">
        <div class="Modal-Content">
            <div class="Modal-Top">
                <h1>Create</h1>
            </div>

            <div class="Modal-MainContent">
                <div class="Modal-Top2">
                    {% if accountInfo %}
                    <div class="CProf-Container">
                        <img id="CP-Prof" src="{{ accountInfo.profile_photo }}" alt="">
                    </div>

                    <div class="CProf-Right">
                        <p>{{ accountInfo.firstname | capfirst }} {{ accountInfo.lastname | capfirst }}</p>
                        <input id="accountID" type="text" value="{{accountInfo.id}}" style="display:none" ;>
                        <input id="Manila-Time" name="ManilaTime" type="text" style="display:none">
                        <div class="custom-select-wrapper ">
                            <div class="custom-select">
                                <div class="custom-select-trigger">
                                    <span></span>
                                    <div class="arrow"></div>
                                </div>
                                <div class="custom-options">
                                    {% for audience in audienceInfo %}
                                    <span class="custom-option" data-value="{{ audience.id }}"
                                        data-img="{{ audience.link }}">
                                        <img src="{{ audience.link }}" alt="Audience Image" class="option-img">{{
                                        audience.audience }}
                                    </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="audience-select" id="audience-select">
                    </div>
                    {% endif %}
                </div>

                <div class="Modal-Mid">

                    <textarea name="" id="post-textarea" placeholder="Tell your friends about your thoughts"></textarea>
                    <div id="Photo-upload-container2">
                        <div class="Photo-Upload-Top">
                            <button id="Remove-Post-Image"> &times;</button>
                        </div>
                        <div id="RPI-container" class="Photo-Upload-Top2">
                            <button id="Remove-Post-Image2"> &times;</button>
                        </div>
                        <div id="Photo-upload-container">
                            <div id="PUC-image">
                                <img src="../static/images/image-gallery (1).png" alt="">
                            </div>
                            <input id="Image-Post" type="file" name="Image-Post" multiple style="display:none" ;>
                            <p id="Post-P">Add Photos</p>

                            <P>(Media files limited to 25MB)</p>
                        </div>
                        <div id="PUC-ImageCont">

                        </div>
                    </div>

                    <div id="Video-upload-container2">
                        <div class="Video-Upload-Top">
                            <button id="Remove-Post-Video"> &times;</button>
                        </div>
                        <div id="Video-upload-container">
                            <div id="PUC-Video">
                                <img src="../static/images/add-videos.png" alt="">
                            </div>
                            <input id="Video-Post" type="file" name="Video-Post" accept="video/*" multiple
                                style="display:none" ;>
                            <p id="Post-V">Add Videos</p>
                            <P>(Media files limited to 25MB)</p>
                        </div>
                        <div id="PUC-VideoCont">

                        </div>
                    </div>
                </div>

                <div class="Modal-Bottom">
                    <div class="MB-Left">
                        <span>Options</span>
                    </div>

                    <div class="MB-Right">
                        <div id="Images-Icon" class="option-icon">
                            <img src="../static/images/photos-icon.png" alt="">
                        </div>
                        <!--
                        <div id="Videos-Icon" class="option-icon">
                            <img src="../static/images/vid.png" alt="">
                        </div>

                        <div class="option-icon">
                            <img src="../static/images/label.png" alt="">
                        </div>
                            -->
                        <div id="Emoji-Icon" class="option-icon">
                            <img src="../static/images/smiling.png" alt="">
                            <div class="emoji-floating-div">
                                {% if emoji %}
                                {% for emoji_code in emoji %}
                                <div class="Emoji-Container" onclick="insertEmoji('{{ emoji_code }}')">
                                    {{ emoji_code | safe }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Modal-Bottom2">
                    <div class="MM-Top">
                        <span>Total Media Size:&nbsp;</span>
                        <span id="SizeCounter"></span>
                    </div>

                    <div class="MM-Bottom">
                        <button type="button" id="User-PostBtn">Post
                            <div class="loader2"></div>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div id="root">

    <!--
            <h1> Welcome, {{ request.user.username }}!</h1>
            <a href="{% url 'account_logout' %}">Sign Out</a>

        -->

    <div class="NCenter">

        <div class="RandomProf_MainCont">
            <div class="Profile_Title_Container">
                <a href="{% url 'dashboard' %}">
                    <div class="PTC-Left">
                        <img src="../static/images/back.png" alt="">
                        <p>Go Back</p>
                    </div>
                </a>
                <div class="PTC-Right">
                    <div id="AppearanceNav"><img  src="../static/images/bright.png" alt=""></div>
                    <a href="{% url 'game_list' %}"><div><img src="../static/images/Controller-1--Streamline-Core-Remix.png" alt=""></div></a>
                    <a href="{% url 'settings' %}"><div><img src="../static/images/Setting--Streamline-Unicons.png" alt=""></div></a>
                    <div id="Logout-btn"><img src="../static/images/logout.png"></div>
                </div>

            </div>

            <div class="Profile-Container">

                <div class="PPC-Cover-Container">

                    {% if randomaccount.cover_photo %}
                    <img id="UserCoverPhoto" src="{{ randomaccount.cover_photo }}">
                    {% else %}
                    <img class="lazy" id="UserCoverPhoto"
                        src="https://ik.imagekit.io/mygh9x3hg/pexels-blitzboy-1144176.jpg/tr:q-90,tr:w-1500,bl-30,q-90,h-720"
                        data-src="https://ik.imagekit.io/mygh9x3hg/pexels-blitzboy-1144176.jpg/tr:q-90,tr:w-1500,q-90,h-720">

                    {% endif %}

                    <div class="PPC-Profile-Cont">
                        <div class="PPC-My-Profile">
                            <div id="PPC-My-Profile-Container">
                                {% with dynamicProf=randomaccount.profile_photo %}
                                {% if 'static' in dynamicProf %}
                                <img class="lazy" src="{{ dynamicProf }}" data-src="{{ dynamicProf }}">
                                {% else %}
                                <img class="lazy" src="{{ dynamicProf|add:'/tr:w-250,h-250,q-90,bl-30' }}"
                                    data-src="{{ dynamicProf|add:'/tr:w-400,h-400,q-90' }}">
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>

                        <div class="PPC-Buttons">
                            <div class="PPCB-Top">

                                <input type="text" id="user_ID" name="user_ID" value="{{ request.user.id }}"
                                    style="display:none">
                                <input type="text" id="visited_profile_ID" name="visited_profile_ID"
                                    value="{{ randomaccount.id }}" style="display:none">
                                <input type="text" id="currentTime-Prof" name="currentTime-Prof" style="display:none">
                            </div>
                            <div class="PPCB-Bottom">

                                {% if friendship_is_pending %}

                                {% if accountInfo.bio %}
                                <div class="Bio-Div">
                                    <p>" {{ randomaccount.bio }} "</p>
                                </div>
                                {% else %}
                                <div class="Bio-Div">
                                    <p></p>
                                </div>
                                {% endif %}
                                <button id="Cancel-ReqFriend-Btn">
                                    <div id="loadingIndicator2"><img src="../static/images/rolling.gif"></div>Cancel
                                    Request
                                </button>
                                {% elif friendship_is_friends %}
                                {% if randomaccount.bio %}
                                <div class="Bio-Div">
                                    <p>" {{ randomaccount.bio }} "</p>
                                </div>
                                {% else %}
                                <div class="Bio-Div">
                                    <p></p>
                                </div>
                                {% endif %}
                                <button class="Friends-Btn"><img
                                        src="../static/images/friends_check.png">Friends</button>

                                {% else %}
                                <style>
                                    .PPCB-Bottom {
                                        width: 50%;
                                    }
                                </style>
                                <button id="Cancel-ReqFriend-Btn" style="display:none">
                                    <div id="loadingIndicator2"><img src="../static/images/rolling.gif"></div>Cancel
                                    Request
                                </button>
                                <button id="Add-Friend-Btn">
                                    <div id="loadingIndicator2"><img src="../static/images/rolling.gif"></div>Add Friend
                                </button>
                                {% endif %}
                                <button id="Message-Btn">Message</button>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="OnePurpose-Container"></div>

                <div class="PPC-ProfInfo-Cont">
                    <div class="PPC-Info-Left"></div>
                    <div class="PPC-Info-Mid">
                        {% if randomaccount %}
                        <h2>{{ randomaccount.firstname }} {{ randomaccount.lastname }}</h2>
                        {% endif %}
                        <p>@{{ randomaccount.auth_user.username }}</p>
                        <p>Joined {{ randomaccount.auth_user.date_joined|date:"F j, Y" }}</p>
                    </div>
                </div>

            </div>
            <div class="Friends_and_Glow_Container">

                <div class="FGC_Right">
                    <div class="FGCL_Left">
                        {% if randomUserFriends %}
                        <span id="Prof-FriendCounter"> {{ randomUserFriends.totalfriends }}</span>
                        <span id="Prof-FriendTitle">friends</span>
                        {% else %}

                        {% endif %}
                    </div>
                    <div class="FGCL_Right">
                        {% if randomUserFriends %}
                        {% for friends in randomUserFriends.friendsInfo %}
                        {% if forloop.counter0 < 5 %} <div class="RandomProfFriends_Cont">
                            <img src="{{ friends.profile_photo }}">
                            <span class="tooltiptext">{{ friends.firstname }} {{ friends.lastname }}</span>
                    </div>
                    {% endif %}

                    {% if forloop.last and randomUserFriends.friendsInfo|length > 5%}
                    {% with remaining=randomUserFriends.friendsInfo|length|add:-5 %}
                    <div class="RandomProfFriends_Cont">
                        <span> +{{ remaining }}</span>
                    </div>
                    {% endwith %}
                    {% endif %}
                    {% endfor %}

                    {% else %}
                    {% endif %}
                </div>
            </div>
            <div class="FGC_Right">
                <div class="FGCR_Left">
                    {% if totalGlows %}
                    <span id="Prof-FriendCounter"> {{ totalGlows }}</span>
                    <span id="Prof-FriendTitle">total glows</span>
                    {% else %}
                    <span id="Prof-FriendCounter"> {{ totalGlows }}</span>
                    <span id="Prof-FriendTitle">total glows</span>

                    {% endif %}
                </div>
                <div class="FGCR_Right">

                    {% if unique_acc_who_glowed %}
                    {% for account_id, info in unique_acc_who_glowed.items %}
                    {% if forloop.counter0 < 5 %} <div class="RandomProfFriends_Cont">
                        <img src="{{ info.2 }}">
                        <span class="tooltiptext">{{ info.0 }} {{ info.1 }}</span>
                </div>
                {% endif %}

                {% if forloop.last and unique_acc_who_glowed|length > 5%}
                {% with remaining=unique_acc_who_glowed|length|add:-5 %}
                <div class="RandomProfFriends_Cont">
                    <span> +{{ remaining }}</span>
                </div>
                {% endwith %}
                {% endif %}
                {% endfor %}

                {% else %}
                {% endif %}

            </div>
        </div>
    </div>

    <div class="User_Title_Container">
        <p>Photos</p>
    </div>

    <div class="UserProf-Main">
        {% if total_photos_count %}
        <div class="RP-PhotosTitle">
            {% if randomaccount %}
            <p>{{ total_photos_count }} Recent Photos</p>
            <span>See all</span>
            {% endif %}
        </div>

        {% endif %}

        <div class="NCenter-content-user">
            {% if posts.posts_with_photos %}
            {% for post, post_info in posts.posts_with_photos.items %}
            {% if forloop.counter0 < 8 %} {% if post_info.photos %} {% for photo in post_info.photos %} <div
                class="UPC-content2">
                <img class="lazy" src="{{ photo.link|add:'/tr:q-90,tr:w-50,bl-30,q-90,h-50?cm-pad_resize,bg-F3F3F3' }}"
                    data-src="{{ photo.link | add:'/tr:q-90,tr:w-150,h-150?cm-pad_resize,bg-F3F3F3 '}}">
        </div>
        {% endfor %}

        {% else %}
        {% endif %}
        {% endif %}

        {% endfor %}

        {% else %}
        <div class="NCU-NoPhotos">
            <img src="../static/images/No-Product--Streamline-Tokyo (1).png" alt="">
            {% if randomaccount %}
            <span>{{ randomaccount.firstname }} has no photos</span>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
<div class="User_Title_Container">
    <p>Written Posts</p>
</div>
<div class="RP-PostContainer">
    <div class="RP-PostContainerList">
        {% if posts.posts_without_photos %}
        {% for post, post_info in posts.posts_without_photos.items %}
        <div class="User-Post-Container2">
            <div class="UPC-content-Top">
                <div class="UPCCT-Left">
                    <a href="profile/{{ post.account.id }}">
                        <div class="Post-Prof-Cont">
                            {% with dynamicProf=post.account.profile_photo %}
                            {% if 'static' in dynamicProf %}
                            <img class="lazy" src="{{ dynamicProf }}" data-src="{{ dynamicProf }}">
                            {% else %}
                            <img class="lazy" src="{{ dynamicProf|add:'/tr:q-90,tr:w-50,bl-30,q-90,h-50' }}"
                                data-src="{{ post.account.profile_photo | add:'/tr:q-90,tr:w-150,h-150?'}}"> {% endif %}
                            {% endwith %}
                        </div>
                    </a>
                    <div class="Post-Prof-Cont2">
                        <div id="Post-Prof-Cont-Name1" class="Post-Prof-Cont-Name">
                            <a href="profile/{{ post.account.id }}">
                                <p class="Photo-Post-username">{{ post.account.firstname }}</p>
                            </a>
                            <p class="Post-Photo-Date-Time">{{ post_info.time_ago }}</p>
                        </div>
                        <div class="Post-Prof-Cont-Username">
                            <p>@{{ post.account.auth_user.username }}</p>
                        </div>
                    </div>
                </div>
                <div class="UPCCT-Right">
                </div>
            </div>
            <div class="UPC-content-Bottom">
                <div class="UPCB-Caption">
                    <div class="Cap-Caption">
                        <p class="postCaption">{{ post.caption|truncatechars_html:36 }}</p>
                        <br>
                    </div>
                </div>
                <div class="UPCB-Tags">
                    {% for tag in post.tags.all %}
                    <a href="/tags/{{ tag.id }}">
                        <div><span class="hashtags">#{{ tag.tag }}</span></div>
                    </a>
                    {% endfor %}
                </div>
                <div class="UPCB-Reacts">
                    <div class="RM_Reacts">
                        <div class="RGlowReact-Div" data-PostIDD="{{ post.id }}" data-AccID="{{ post.account.id }}">
                            {% if post.has_liked %}
                            <span class="ChangeGlow">&#10022;</span>
                            {% else %}
                            <img class="glow-react" src="../static/images/glow4.png" alt="Glow">
                            {% endif %}

                        </div>
                        <div class="RM_glowCount">
                            {% if post_info.glows_count > 0 %}
                            <p>{{ post_info.glows_count }}</p>
                            {% endif %}
                        </div>
                        <div class="RReact-Div Comment-Btn-Show" data-PostID="{{ post.id }}">
                            <img src="../static/images/chat (2).png" alt="Chat">
                        </div>
                        <div class="RM_commentCount">
                            {% if post_info.comments_count > 0 %}
                            <p>{{ post_info.comments_count }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="User_Title_Container_Image">
    <p>Image Posts</p>
</div>
<div class="RP-PostContainer">
    <div class="RP-PostContainerList">

        {% if posts.posts_with_photos %}
        {% for post, post_info in posts.posts_with_photos.items %}
        <div class="User-Post-Container2">
            <div class="UPC-content-Top">
                <div class="UPCCT-Left">
                    <a href="profile/{{ post.account.id }}">
                        <div class="Post-Prof-Cont">
                            <img class="lazy"
                                src="{{ post.account.profile_photo|add:'/tr:q-90,tr:w-50,bl-30,q-90,h-50' }}"
                                data-src="{{ post.account.profile_photo | add:'/tr:q-90,tr:w-150,h-150?'}}">
                        </div>
                    </a>
                    <div class="Post-Prof-Cont2">
                        <div id="Post-Prof-Cont-Name1" class="Post-Prof-Cont-Name">
                            <a href="profile/{{ post.account.id }}">
                                <p class="Photo-Post-username">{{ post.account.firstname }}</p>
                            </a>
                            <p class="Post-Photo-Date-Time">{{ post_info.time_ago }}</p>
                        </div>
                        <div class="Post-Prof-Cont-Username">
                            <p>@{{ post.account.auth_user.username }}</p>
                        </div>
                    </div>
                </div>
                <div class="UPCCT-Right">
                </div>
            </div>

            {% if post_info.photos %}
            <div class="UPC-content-grid {% if post_info.photos|length >= 2 %}three-photos{% endif %}">
                {% for photo in post_info.photos %}
                <div class="UPC-content {% if post_info.photos|length == 1 %}single-photo{% endif %}">
                    <img class="lazy"
                        src="{{ photo.link|add:'/tr:q-90,tr:w-150,bl-30,q-90,h-150?cm-pad_resize,bg-F3F3F3' }}"
                        data-src="{{ photo.link|add:'/tr:q-90,tr:w-350,h-350' }}" alt="">
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="UPCB-Tags" style="height: 2rem"></div>
            {% endif %}

            <div class="UPC-content-Bottom">
                <div class="UPCB-Caption">
                    <div class="Cap-Caption">
                        <p class="postCaption">{{ post.caption }}</p>
                        <br>
                    </div>
                </div>
                <div class="UPCB-Tags">
                    {% for tag in post.tags.all %}
                    <a href="/tags/{{ tag.id }}">
                        <div><span class="hashtags">#{{ tag.tag }}</span></div>
                    </a>
                    {% endfor %}
                </div>
                <div class="UPCB-Reacts">
                    <div class="RM_Reacts">
                        <div class="RGlowReact-Div" data-PostIDD="{{ post.id }}" data-AccID="{{ post.account.id }}">
                            {% if post.has_liked %}
                            <span class="ChangeGlow">&#10022;</span>
                            {% else %}
                            <img class="glow-react" src="../static/images/glow4.png" alt="Glow">
                            {% endif %}

                        </div>
                        <div class="RM_glowCount">
                            {% if post_info.glows_count > 0 %}
                            <p>{{ post_info.glows_count }}</p>
                            {% endif %}
                        </div>
                        <div class="RReact-Div Comment-Btn-Show" data-PostID="{{ post.id }}">
                            <img src="../static/images/chat (2).png" alt="Chat">
                        </div>
                        <div class="RM_commentCount">
                            {% if post_info.comments_count > 0 %}
                            <p>{{ post_info.comments_count }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>

</div>
</div>

<script>

    function LazyLoading(selector) {
        let lazyimages = document.querySelectorAll(selector);

        if ("IntersectionObserver" in window) {
            let observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(function (entry) {
                    if (entry.isIntersecting) {
                        let lazyimage = entry.target;
                        lazyimage.src = lazyimage.dataset.src;
                        lazyimage.classList.remove("lazy");
                        observer.unobserve(lazyimage);
                    }
                });
            });

            lazyimages.forEach((lazyimage) => {
                observer.observe(lazyimage);
            });
        }
    }

    LazyLoading(".lazy");


</script>




{% endblock %}