{% extends "master.html" %}
{% load static %}
{% load account %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home/dashboard.css' %}">
    <script type="module" src="{% static 'js/friend.js' %}"></script>
    <script type="module" src="{% static 'js/toggle.js' %}"></script>
    <script type="module" src="{% static 'js/show-search.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">  
{% endblock %}

{% block content %}


<div id="Modal-Overlay">
    <div id="Post-Container">
        <div class="Modal-Content">
            <div class="Modal-Top">
                <h1>Create</h1>
            </div>

            <div class="Modal-MainContent">
                <div class="Modal-Top2">
                    {% if accountInfo %}
                        <div class="CProf-Container">
                            <img id="CP-Prof" src="{{ accountInfo.profile_photo }}" alt="">
                        </div>
    
                        <div class="CProf-Right">
                            <p>{{ accountInfo.firstname | capfirst }} {{ accountInfo.lastname | capfirst }}</p>
                            <input id="accountID" type="text" value="{{accountInfo.id}}"  style="display:none" ;>
                            <input id="Manila-Time" name="ManilaTime" type="text" style="display:none">
                            <div class="custom-select-wrapper ">
                                <div class="custom-select">
                                    <div class="custom-select-trigger">
                                        <span></span>
                                        <div class="arrow"></div>
                                    </div>
                                    <div class="custom-options">
                                        {% for audience in audienceInfo %}
                                            <span class="custom-option" data-value="{{ audience.id }}" data-img="{{ audience.link }}">
                                                <img src="{{ audience.link }}" alt="Audience Image" class="option-img">{{ audience.audience }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="audience-select" id="audience-select">
                        </div>
                    {% endif %}
                </div>

                <div class="Modal-Mid">
                    
                    <textarea name="" id="post-textarea" placeholder="Tell your friends about your thoughts"></textarea>
                    <div id="Photo-upload-container2">
                        <div class="Photo-Upload-Top">
                            <button id="Remove-Post-Image"> &times;</button>
                        </div>
                        <div id="RPI-container" class="Photo-Upload-Top2">
                            <button id="Remove-Post-Image2"> &times;</button>
                        </div>
                        <div id="Photo-upload-container">
                            <div id="PUC-image">
                                <img src="../static/images/image-gallery (1).png" alt="">
                            </div>
                            <input id="Image-Post" type="file" name="Image-Post" multiple style="display:none" ;>
                            <p id="Post-P">Add Photos</p>
                        
                            <P>(Media files limited to 25MB)</p>
                        </div>
                        <div id="PUC-ImageCont">

                        </div>
                    </div>

                    <div id="Video-upload-container2">
                        <div class="Video-Upload-Top">
                            <button id="Remove-Post-Video"> &times;</button>
                        </div>
                        <div id="Video-upload-container">
                            <div id="PUC-Video">
                                <img src="../static/images/add-videos.png" alt="">
                            </div>
                            <input id="Video-Post" type="file" name="Video-Post" accept="video/*" multiple style="display:none" ;>
                            <p id="Post-V">Add Videos</p>
                            <P>(Media files limited to 25MB)</p>
                        </div>
                        <div id="PUC-VideoCont">

                        </div>
                    </div>
                </div>

                <div class="Modal-Bottom">
                    <div class="MB-Left">
                        <span>Options</span>
                    </div>

                    <div class="MB-Right">
                        <div id="Images-Icon" class="option-icon">
                            <img src="../static/images/photos-icon.png" alt="">
                        </div>
                            <!--
                        <div id="Videos-Icon" class="option-icon">
                            <img src="../static/images/vid.png" alt="">
                        </div>
                        
                        <div class="option-icon">
                            <img src="../static/images/label.png" alt="">
                        </div>
                            -->
                        <div id="Emoji-Icon" class="option-icon">
                            <img src="../static/images/smiling.png" alt="">
                            <div class="emoji-floating-div">
                                {% if emoji %}
                                    {% for emoji_code in emoji %}
                                        <div class="Emoji-Container" onclick="insertEmoji('{{ emoji_code }}')">
                                            {{ emoji_code | safe }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Modal-Bottom2">
                    <div class="MM-Top">
                        <span>Total Media Size:&nbsp;</span>
                        <span id="SizeCounter"></span>
                    </div>

                    <div class="MM-Bottom">
                        <button type="button" id="User-PostBtn">Post
                            <div class="loader2"></div>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>



<div id="root">
    {% if request.user.is_authenticated %}
    <!-- 
            <h1> Welcome, {{ request.user.username }}!</h1>
            <a href="{% url 'account_logout' %}">Sign Out</a>
        
        -->
        
<script type="module" src="{% static 'js/nav.js' %}"></script>

{% include "nav.html" %}
{% include "nav-right.html" %}
<div class="Search-Container">
    <div class="NRightTop">
        <div class="input-icon">
            <img src="../static/images/search.png" alt="icon">
            <input id="GlobalSearch" type="text" placeholder="Search">
            <span id="ClearButton" class="clear-button">&times;</span>
        </div>
    </div>
    <div class="Search-Results-Container">
        
    </div>
    <style>
        .Search-Results-Container{
            display:none;
        }
    </style>
    <div class="NRightMid">
        <div class="NRightMid-content">
            <div class="NRightMid-title">
                <p>Latest Tags</p>
            </div>
            <div class="HashTagsCont">
                {% if hashtags %}
                    {% for tags in hashtags %}
                    <a href="/tags/{{ tags.tag_object.id }}">
                        <div class="hashtags-div">
                            <div class="hashtag-a">
                                <span>#{{ tags.tag_object.tag }} </span>
                            </div>
                            <div class="hashtag-span">
                                {% if tags.post_count > 1 %}
                                <span>{{ tags.post_count }} posts</span>
                                {% else %}
                                <span>{{ tags.post_count }} post</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                
                    {% endfor %}
                    
                {% endif %}
            </div>
        </div>
    </div>

    <div class="NRightBottom">
        <div class="NRightBottom-content">
            <div class="NRBC-title">
                <p>Friends</p>
            </div>
            <div class="NRBC-Friends">
                {% if friends %}
                    {% for friend in friends.friendsInfo %}
                    <a href="/profile/{{ friend.id }}"><div class="UserFriends-Cont"> <img src="{{ friend.profile_photo }}" alt="">{{ friend.firstname }} {{ friend.lastname }}</div></a>
                    {% endfor %}
                    {%else%}
                    <p>No Friends</p>
                {% endif %}
            </div>
        </div>
    
    </div>

</div>



        <div class="NCenter">
                <div class="Profile-Container">
                    
                    <div class="PPC-Cover-Container">
                        
                        {% if randomaccount.cover_photo %}
                            <img id="UserCoverPhoto" src="{{ randomaccount.cover_photo }}">
                        {% else %}
                            <img class="lazy" id="UserCoverPhoto" src="https://ik.imagekit.io/mygh9x3hg/pexels-blitzboy-1144176.jpg/tr:q-90,tr:w-1500,bl-30,q-90,h-720" data-src="https://ik.imagekit.io/mygh9x3hg/pexels-blitzboy-1144176.jpg/tr:q-90,tr:w-1500,q-90,h-720">

                        {% endif %}

                        <div class="PPC-Profile-Cont">
                            <div class="PPC-My-Profile">
                                <img src="{{ randomaccount.profile_photo }}">
                            </div>
                            
                                <div class="PPC-Buttons">
                                    <div class="PPCB-Top">
                                    
                                        <input type="text" id="user_ID" name="user_ID" value="{{ request.user.id }}" style="display:none">
                                        <input type="text" id="visited_profile_ID" name="visited_profile_ID" value="{{ randomaccount.id }}" style="display:none">
                                        <input type="text" id="currentTime-Prof" name="currentTime-Prof" style="display:none">
                                    </div>
                                    <div class="PPCB-Bottom">
                                        
                                        {% if friendship_is_pending %}
                                            
                                            {% if accountInfo.bio %}
                                            <div class="Bio-Div"><p>" {{ randomaccount.bio }} "</p></div>
                                            {% else %}
                                            <div class="Bio-Div"><p></p></div>
                                            {% endif %}
                                            <button id="Cancel-ReqFriend-Btn"> <div id="loadingIndicator2"><img src="../static/images/rolling.gif"></div>Cancel Request</button>
                                        {% elif friendship_is_friends %}
                                            {% if randomaccount.bio %}
                                            <div class="Bio-Div"><p>" {{ randomaccount.bio }} "</p></div>
                                            {% else %}
                                            <div class="Bio-Div"><p></p></div>
                                            {% endif %}
                                            <button class="Friends-Btn"><img src="../static/images/friends_check.png">Friends</button>

                                        {% else %}
                                        <style>
                                            .PPCB-Bottom{
                                                width: 50%;
                                            }
                                        </style>
                                            <button id="Cancel-ReqFriend-Btn"  style="display:none"> <div id="loadingIndicator2"><img src="../static/images/rolling.gif"></div>Cancel Request</button>
                                            <button id="Add-Friend-Btn"> <div id="loadingIndicator2"><img src="../static/images/rolling.gif"></div>Add Friend</button>
                                        {% endif %}
                                        <button id="Message-Btn">Message</button>
                                    </div>
                                
                                </div>
                        </div>
                    
                    </div>

                    <div class="OnePurpose-Container"></div>
                    
                    <div class="PPC-ProfInfo-Cont">
                        <div class="PPC-Info-Left"></div>
                        <div class="PPC-Info-Mid">
                            {% if randomaccount %}
                            <h2>{{ randomaccount.firstname }} {{ randomaccount.lastname }}</h2>
                            {% endif %}
                            <p>@{{ randomaccount.auth_user.username }}</p>
                            <p>Joined {{ randomaccount.auth_user.date_joined|date:"F j, Y" }}</p>
                        </div>
                    </div>
                    
                    
                    <!--
                    <div class="MyProfile-Nav">
                        <ul>
                            <li>About</li>
                        </ul>
                    </div>
                    
                                          !-->
                </div>
                <div class="Friends_and_Glow_Container">
                    
                    <div class="FGC_Right">
                        <div class="FGCL_Left">
                            {% if randomUserFriends %}
                            <span id="Prof-FriendCounter"> {{ randomUserFriends.totalfriends }}</span>
                            <span id="Prof-FriendTitle">friends</span>
                            {% else %}
                            
                            {% endif %}
                        </div>
                        <div class="FGCL_Right">
                          {% if randomUserFriends %}
                              {% for friends in randomUserFriends.friendsInfo %}
                                {% if forloop.counter0 < 5 %}
                                  <div class="RandomProfFriends_Cont">
                                      <img src="{{ friends.profile_photo }}">
                                  </div>
                                {% endif %}
                                
                                {% if forloop.last and randomUserFriends.friendsInfo|length > 5%}
                                  {% with remaining=randomUserFriends.friendsInfo|length|add:-5 %}
                                      <div class="RandomProfFriends_Cont">
                                            <span> +{{ remaining }}</span>
                                      </div>
                                  {% endwith %}
                                {% endif %}
                              {% endfor %}

                          {% else %}
                          {% endif %}
                        </div>
                        
                                          
                    </div>
                    <div class="FGC_Right">
                          <div class="FGCR_Left">
                            {% if totalGlows %}
                              <span id="Prof-FriendCounter"> {{ totalGlows }}</span>
                              <span id="Prof-FriendTitle">total glows</span>
                            {% else %}
                            
                            {% endif %}
                          </div> 
                          <div class="FGCR_Right">
                              
                              {% if unique_acc_who_glowed %}
                                 {% for account_id, info in unique_acc_who_glowed.items %}
                                    {% if forloop.counter0 < 5 %}
                                        <div class="RandomProfFriends_Cont">
                                          <img src="{{ info.2 }}">
                                        </div>
                                    {% endif %}

                                    {% if forloop.last and unique_acc_who_glowed|length > 5%}
                                         {% with remaining=unique_acc_who_glowed|length|add:-5 %}
                                        <div class="RandomProfFriends_Cont">
                                            <span> +{{ remaining }}</span>
                                        </div>
                                        {% endwith %}
                                    {% endif %}
                                  {% endfor %} 

                              {% else %} 
                              {% endif %}
                            
                          </div>
                    </div>
                </div>
                <div class="UserProf-Main">
                    <h2>Photos</h2>
                    <div class="NCenter-content-user">
                            {% if posts.posts_with_photos %}
                                {% for post, post_info in posts.posts_with_photos.items %}
                                    {% if forloop.counter0 < 8 %}
                                    <div class="UserProfile-PostContainer">
                                        {% if post_info.photos %}
                                        <div class="UPC-content-grid2 {% if post_info.photos|length > 1 %}three-photos{% endif %}">
                                            {% for photo in post_info.photos %}
                                                <div class="UPC-content2 {% if post_info.photos|length == 1 %}single-photo{% endif %}">
                                                  <img class="lazy" src="{{ photo.link|add:'/tr:q-90,tr:w-450,bl-30,q-90,h-450?cm-pad_resize,bg-F3F3F3' }}" data-src="{{ photo.link | add:'/tr:q-90,tr:w-450,h-450?cm-pad_resize,bg-F3F3F3 '}}">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                {% endfor %}

                                {% else %}
                                    
                                <style>
                                .UserProf-Main{
                                    height: 45vh;      
                                }
                                </style>

                                <p id="Posts-Message">No posts yet</p>
                                {% endif %}
                    </div>
                

        </div>
                
      {% endif %}
    
</div>

<script>
    function insertEmoji(emoji) {
        var textarea = document.getElementById("post-textarea");
        var cursorPos = textarea.selectionStart;
        var textBeforeCursor = textarea.value.substring(0, cursorPos);
        var textAfterCursor = textarea.value.substring(cursorPos);
    
        textarea.value = textBeforeCursor + emoji + textAfterCursor;
        textarea.selectionStart = textarea.selectionEnd = cursorPos + emoji.length;
        
        let Caption = textarea.value;
        return Caption;
    }
    
    function LazyLoading(selector) {
    let lazyimages = document.querySelectorAll(selector);

    if ("IntersectionObserver" in window) {
        let observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(function (entry) {
                if (entry.isIntersecting) {
                    let lazyimage = entry.target;
                    lazyimage.src = lazyimage.dataset.src;
                    lazyimage.classList.remove("lazy");
                    observer.unobserve(lazyimage);
                }
            });
        });

        lazyimages.forEach((lazyimage) => {
            observer.observe(lazyimage);
        });
    }
}

LazyLoading(".lazy");
</script>
{% endblock %}
