{% extends "master.html" %}
{% load static %}
{% load account %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/dashboard.css' %}">
<script type="module" src="{% static 'js/toggle.js' %}"></script>
<script type="module" src="{% static 'js/logout.js' %}"></script>
<script type="module" src="{% static 'js/userpost-options.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
{% include "modal/edit-userprofile.html" %}
{% include "account/logout.html" %}
{% include "modal/delete-post.html" %}

<div id="Comment-Overlay">

    <div class="Comment-Container">
        <div class="Comment-subCont">
            <div class="CC-Left">
                <div class="CC-Left-Images">

                </div>

                <div class="Comment-btn-cont">
                    <button class="prev-button"><img src="../static/images/arrow.png" alt=""></button>
                    <button class="next-button"><img src="../static/images/right-arrow.png" alt=""></button>
                </div>

            </div>

            <div class="CC-Right">
                <div class="CCR-Main1">
                    <div class="CCR-Top">
                        <div class="CCRT-Sub">
                            <div class="CCRT-Left">
                                <img class="Post-ProfilePic" src="">
                            </div>
                            <div class="CCRT-Right">
                                <p class="Post-FullName"></p>
                            </div>
                        </div>

                        <div>
                            <button class="Close-Comment">x</button>
                        </div>
                    </div>

                    <div class="CCRT-Mid">
                        <div class="Caption-Content">
                            <p class="Post-Caption"></p>
                        </div>
                        <div class="Comments-Section">

                        </div>
                    </div>
                </div>


                <div class="CCR-Main2">
                    <div class="User-Comment-Cont">
                        {% if accountInfo %}
                        <div id="UserProf-Comment">
                            <img src="{{ accountInfo.profile_photo }}" alt="">
                        </div>
                        {% endif %}

                        <input id="Comment-input" type="text" placeholder="Add a comment..">
                        <button id="Send-Comment">Send</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="root">
    {% if request.user.is_authenticated %}
    <div class="NCenter">
        <div class="RandomProf_MainCont">
            <div class="Profile_Title_Container">
                <a href="{% url 'dashboard' %}">
                    <div class="PTC-Left">
                        <img src="../static/images/back.png" alt="">
                        <p>Go Back</p>
                    </div>
                </a>
                <div class="PTC-Right">
                    <div id="AppearanceNav"><img src="../static/images/bright.png" alt=""></div>
                    <a href="{% url 'game_list' %}">
                        <div><img src="../static/images/Controller-1--Streamline-Core-Remix.png" alt=""></div>
                    </a>
                    <a href="{% url 'settings' %}">
                        <div><img src="../static/images/Setting--Streamline-Unicons.png" alt=""></div>
                    </a>
                    <div id="Logout-btn"><img src="../static/images/logout.png"></div>
                </div>
            </div>
            <div class="Profile-Container">
                <div class="PPC-Cover-Container">
                    <input id="accountID" type="text" value="{{ accountInfo.id }}" style="display:none" ;>
                    {% if accountInfo.cover_photo %}
                    <img id="UserCoverPhoto" src="{{ accountInfo.cover_photo }}">
                    {% else %}
                    <img id="UserCoverPhoto" src="https://ik.imagekit.io/mygh9x3hg/pexels-blitzboy-1144176.jpg">
                    {% endif %}

                    <div class="PPC-Profile-Cont">
                        <div class="PPC-My-Profile">
                            <img src="{{ accountInfo.profile_photo }}">
                        </div>
                        <div class="PPC-Buttons">
                            <div class="PPCB-Top">
                            </div>
                            <div class="PPCB-Bottom">
                                {% if accountInfo.bio %}
                                <div class="Bio-Div">
                                    <p>" {{ accountInfo.bio }} "</p>
                                </div>
                                <button id="Edit-MyProfile">Edit Profile</button>
                                {% else %}
                                <div class="Bio-Div">
                                    <p>" Click Edit to Input Bio "</p>
                                </div>
                                <button id="Edit-MyProfile">Edit Profile</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="OnePurpose-Container"></div>

                <div class="PPC-ProfInfo-Cont">
                    <div class="PPC-Info-Left"></div>
                    <div class="PPC-Info-Mid">
                        {% if accountInfo %}
                        <h2>{{ accountInfo.firstname }} {{ accountInfo.lastname }}</h2>
                        {% endif %}

                        <p>@{{ request.user.username }}</p>
                        <p>Joined {{ request.user.date_joined|date:"F j, Y" }}</p>
                    </div>
                </div>
            </div>
            <div class="Friends_and_Glow_Container">

                <div class="FGC_Right">
                    <div class="FGCL_Left">
                        {% if randomUserFriends %}
                        <span id="Prof-FriendCounter"> {{ randomUserFriends.totalfriends }}</span>
                        <span id="Prof-FriendTitle">friends</span>
                        {% else %}

                        {% endif %}
                    </div>
                    <div class="FGCL_Right">
                        {% if randomUserFriends %}
                        {% for friends in randomUserFriends.friendsInfo %}
                        {% if forloop.counter0 < 5 %} <div class="RandomProfFriends_Cont">
                            <img src="{{ friends.profile_photo }}">
                            <span class="tooltiptext">{{ friends.firstname }} {{ friends.lastname }}</span>
                    </div>
                    {% endif %}

                    {% if forloop.last and randomUserFriends.friendsInfo|length > 5%}
                    {% with remaining=randomUserFriends.friendsInfo|length|add:-5 %}
                    <div class="RandomProfFriends_Cont">
                        <span> +{{ remaining }}</span>
                    </div>
                    {% endwith %}
                    {% endif %}
                    {% endfor %}

                    {% else %}
                    {% endif %}
                </div>
            </div>
            <div class="FGC_Right">
                <div class="FGCR_Left">
                    {% if totalGlows %}
                    <span id="Prof-FriendCounter"> {{ totalGlows }}</span>
                    <span id="Prof-FriendTitle">total glows</span>
                    {% else %}

                    {% endif %}
                </div>
                <div class="FGCR_Right">

                    {% if unique_acc_who_glowed %}
                    {% for account_id, info in unique_acc_who_glowed.items %}
                    {% if forloop.counter0 < 5 %} <div class="RandomProfFriends_Cont">
                        <img src="{{ info.2 }}">
                        <span class="tooltiptext">{{ info.0 }} {{ info.1 }}</span>
                </div>
                {% endif %}

                {% if forloop.last and unique_acc_who_glowed|length > 5%}
                {% with remaining=unique_acc_who_glowed|length|add:-5 %}
                <div class="RandomProfFriends_Cont">
                    <span> +{{ remaining }}</span>
                </div>
                {% endwith %}
                {% endif %}
                {% endfor %}

                {% else %}
                {% endif %}

            </div>
        </div>
    </div>

    <div class="User_Title_Container">
        <p>Photos</p>
    </div>
    <div class="UserProf-Main">
        {% if total_photos_count %}
        <div class="RP-PhotosTitle">
            {% if randomaccount %}
            <p>{{ total_photos_count }} Recent Photos</p>
            <span>See all</span>
            {% endif %}
        </div>

        {% endif %}

        <div class="NCenter-content-user">
            {% if posts.posts_with_photos %}
            {% for post, post_info in posts.posts_with_photos.items %}
            {% if forloop.counter0 < 8 %} {% if post_info.photos %} {% for photo in post_info.photos %}
            <div class="UPC-content2" data-postid="{{ post.id }}">
                <img class="lazy" src="{{ photo.link|add:'/tr:q-90,tr:w-50,bl-30,q-90,h-50?cm-pad_resize,bg-F3F3F3' }}"
                    data-src="{{ photo.link | add:'/tr:q-90,tr:w-150,h-150?cm-pad_resize,bg-F3F3F3 '}}">
        </div>
        {% endfor %}

        {% else %}
        {% endif %}
        {% endif %}

        {% endfor %}

        {% else %}
        <div class="NCU-NoPhotos">
            <img src="../static/images/No-Product--Streamline-Tokyo (1).png" alt="">
            {% if randomaccount %}
            <span>{{ randomaccount.firstname }} has no photos</span>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
<div class="User_Title_Container">
    <p>Written Posts</p>
</div>

<div class="RP-PostContainer">
    <div class="RP-PostContainerList">
        {% if posts.posts_without_photos %}
        {% for post, post_info in posts.posts_without_photos.items %}
        <div class="User-Post-Container2" data-postid="{{ post.id }}">
            <div class="UserPost-Options">
                <div><img src="../static/images/Hand-Held-Tablet-Writing--Streamline-Micro.png" alt="">Edit</div>
                <div class="Post-DeleteBtn"><img src="../static/images/Delete-Bin-2--Streamline-Micro.png" alt="">Delete
                </div>
            </div>
            <div class="UPC-content-Top">
                <div class="UPCCT-Left">
                    <a href="profile/{{ post.account.id }}">
                        <div class="Post-Prof-Cont">
                            {% with dynamicProf=post.account.profile_photo %}
                            {% if 'static' in dynamicProf %}
                            <img class="lazy" src="{{ dynamicProf }}" data-src="{{ dynamicProf }}">
                            {% else %}
                            <img class="lazy" src="{{ dynamicProf|add:'/tr:q-90,tr:w-50,bl-30,q-90,h-50' }}"
                                data-src="{{ post.account.profile_photo | add:'/tr:q-90,tr:w-150,h-150?'}}"> {% endif %}
                            {% endwith %}

                        </div>
                    </a>
                    <div class="Post-Prof-Cont2">
                        <div id="Post-Prof-Cont-Name1" class="Post-Prof-Cont-Name">
                            <a href="profile/{{ post.account.id }}">
                                <p class="Photo-Post-username">{{ post.account.firstname }}</p>
                            </a>
                            <p class="Post-Photo-Date-Time">{{ post_info.time_ago }}</p>
                        </div>
                        <div class="Post-Prof-Cont-Username">
                            <p>@{{ post.account.auth_user.username }}</p>
                        </div>
                    </div>
                </div>
                <div class="UPCCT-Right">
                    <div class="Post-Options2">
                        <img src="../static/images/Dots-Three-Bold--Streamline-Phosphor.png" alt="">
                    </div>
                </div>
            </div>
            <div class="UPC-content-Bottom">
                <div class="UPCB-Caption">
                    <div class="Cap-Caption">
                        <p class="postCaption">{{ post.caption|truncatechars_html:30 }}</p>
                        <br>
                    </div>
                </div>
                <div class="UPCB-Tags">
                    {% for tag in post.tags.all %}
                    <a href="/tags/{{ tag.id }}">
                        <div><span class="hashtags">#{{ tag.tag }}</span></div>
                    </a>
                    {% endfor %}
                </div>
                <div class="UPCB-Reacts">
                    <div class="RM_Reacts">
                        <div class="RGlowReact-Div" data-PostIDD="{{ post.id }}" data-AccID="{{ post.account.id }}">
                            {% if post.has_liked %}
                            <span class="ChangeGlow">&#10022;</span>
                            {% else %}
                            <img class="glow-react" src="../static/images/glow4.png" alt="Glow">
                            {% endif %}

                        </div>
                        <div class="RM_glowCount">
                            {% if post_info.glows_count > 0 %}
                            <p>{{ post_info.glows_count }}</p>
                            {% endif %}
                        </div>
                        <div class="RReact-Div Comment-Btn-Show" data-PostID="{{ post.id }}">
                            <img src="../static/images/chat (2).png" alt="Chat">
                        </div>
                        <div class="RM_commentCount">
                            {% if post_info.comments_count > 0 %}
                            <p>{{ post_info.comments_count }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="User_Title_Container_Image">
    <p>Image Posts</p>
</div>
<div class="RP-PostContainer">
    <div class="RP-PostContainerList">

        {% if posts.posts_with_photos %}
        {% for post, post_info in posts.posts_with_photos.items %}
        <div class="User-Post-Container2" data-postid="{{ post.id }}">
            <div class="UserPost-Options">
                <div><img src="../static/images/Hand-Held-Tablet-Writing--Streamline-Micro.png" alt="">Edit</div>
                <div class="Post-DeleteBtn"><img src="../static/images/Delete-Bin-2--Streamline-Micro.png" alt="">Delete
                </div>
            </div>
            <div class="UPC-content-Top">
                <div class="UPCCT-Left">
                    <a href="profile/{{ post.account.id }}">
                        <div class="Post-Prof-Cont">
                            {% with dynamicProf=post.account.profile_photo %}
                            {% if 'static' in dynamicProf %}
                            <img class="lazy" src="{{ dynamicProf }}" data-src="{{ dynamicProf }}">
                            {% else %}
                            <img class="lazy" src="{{ dynamicProf|add:'/tr:q-90,tr:w-50,bl-30,q-90,h-50' }}"
                                data-src="{{ post.account.profile_photo | add:'/tr:q-90,tr:w-150,h-150?'}}"> {% endif %}
                            {% endwith %}
                        </div>
                    </a>
                    <div class="Post-Prof-Cont2">
                        <div id="Post-Prof-Cont-Name1" class="Post-Prof-Cont-Name">
                            <a href="profile/{{ post.account.id }}">
                                <p class="Photo-Post-username">{{ post.account.firstname }}</p>
                            </a>
                            <p class="Post-Photo-Date-Time">{{ post_info.time_ago }}</p>
                        </div>
                        <div class="Post-Prof-Cont-Username">
                            <p>@{{ post.account.auth_user.username }}</p>
                        </div>
                    </div>
                </div>
                <div class="UPCCT-Right">
                    <div class="Post-Options2">
                        <img src="../static/images/Dots-Three-Bold--Streamline-Phosphor.png" alt="">
                    </div>
                </div>
            </div>

            {% if post_info.photos %}
            <div class="UPC-content-grid {% if post_info.photos|length >= 2 %}three-photos{% endif %}">
                {% for photo in post_info.photos %}
                <div class="UPC-content {% if post_info.photos|length == 1 %}single-photo{% endif %}">
                    <img class="lazy"
                        src="{{ photo.link|add:'/tr:q-90,tr:w-150,bl-30,q-90,h-150?cm-pad_resize,bg-F3F3F3' }}"
                        data-src="{{ photo.link|add:'/tr:q-90,tr:w-350,h-350' }}" alt="">
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="UPCB-Tags" style="height: 2rem"></div>
            {% endif %}

            <div class="UPC-content-Bottom">
                <div class="UPCB-Caption">
                    <div class="Cap-Caption">
                        <p class="postCaption">{{ post.caption }}</p>
                        <br>
                    </div>
                </div>
                <div class="UPCB-Tags">
                    {% for tag in post.tags.all %}
                    <a href="/tags/{{ tag.id }}">
                        <div><span class="hashtags">#{{ tag.tag }}</span></div>
                    </a>
                    {% endfor %}
                </div>
                <div class="UPCB-Reacts">
                    <div class="RM_Reacts">
                        <div class="RGlowReact-Div" data-PostIDD="{{ post.id }}" data-AccID="{{ post.account.id }}">
                            {% if post.has_liked %}
                            <span class="ChangeGlow">&#10022;</span>
                            {% else %}
                            <img class="glow-react" src="../static/images/glow4.png" alt="Glow">
                            {% endif %}

                        </div>
                        <div class="RM_glowCount">
                            {% if post_info.glows_count > 0 %}
                            <p>{{ post_info.glows_count }}</p>
                            {% endif %}
                        </div>
                        <div class="RReact-Div Comment-Btn-Show" data-PostID="{{ post.id }}">
                            <img src="../static/images/chat (2).png" alt="Chat">
                        </div>
                        <div class="RM_commentCount">
                            {% if post_info.comments_count > 0 %}
                            <p>{{ post_info.comments_count }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>
</div>
</div>



<div id="messages"></div>
{% endif %}
</div>
<script>
    let EditMyProfile = document.getElementById('Edit-MyProfile');
    let EditProfileOverlay = document.getElementById('EditProfile-Overlay');
    let EditProfileContainer = document.getElementById('EditProfile-Container');

    EditMyProfile.addEventListener('click', function () {
        EditProfileOverlay.style.display = "flex";
        event.stopPropagation();
    })

    document.addEventListener('click', function (event) {
        if (!EditProfileContainer.contains(event.target)) {
            EditProfileOverlay.style.display = "none";
        }

    });

    function LazyLoading(selector) {
        let lazyimages = document.querySelectorAll(selector);

        if ("IntersectionObserver" in window) {
            let observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(function (entry) {
                    if (entry.isIntersecting) {
                        let lazyimage = entry.target;
                        lazyimage.src = lazyimage.dataset.src;
                        lazyimage.classList.remove("lazy");
                        observer.unobserve(lazyimage);
                    }
                });
            });

            lazyimages.forEach((lazyimage) => {
                observer.observe(lazyimage);
            });
        }
    }

    LazyLoading(".lazy");
</script>


{% endblock %}