

{% block modal %}

<style>
    
</style>
<div id="Share-Overlay">
    <div id="Share-Container">
        <div class="Modal-Content">
            <div class="Modal-Top">
                <h1>Share</h1>
            </div>

            <div class="Modal-MainContent">
                <div class="Modal-Top2">
                    {% if accountInfo %}
                        <div class="CProf-Container">
                            <img id="CP-Prof" src="{{ accountInfo.profile_photo }}" alt="">
                        </div>
    
                        <div class="CProf-Right">
                            <p>{{ accountInfo.firstname | capfirst }} {{ accountInfo.lastname | capfirst }}</p>
                            <input id="accountID2" type="text" value="{{accountInfo.id}}"  style="display:none" ;>
                            <div class="custom-select-wrapper">
                                <div class="custom-select">
                                    <div class="custom-select-trigger">
                                        <span></span>
                                        <div class="arrow"></div>
                                    </div>
                                    <div class="custom-options">
                                        {% for audience in audienceInfo %}
                                            <span class="custom-option" data-value="{{ audience.id }}" data-img="{{ audience.link }}">
                                                <img src="{{ audience.link }}" alt="Audience Image" class="option-img">{{ audience.audience }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="audience-select2" id="audience-select2">
                        </div>
                    {% endif %}
                </div>

                <div class="Modal-Mid">
                    
                    <textarea name="" id="post-textarea2" placeholder="Tell your friends about your thoughts"></textarea>
                    <div id="Photo-upload-container2">
                        <div class="Photo-Upload-Top">
                            <button id="Remove-Post-Image"> &times;</button>
                        </div>
                        <div id="RPI-container" class="Photo-Upload-Top2">
                            <button id="Remove-Post-Image2"> &times;</button>
                        </div>
                        <div id="Photo-upload-container">
                            <div id="PUC-image">
                                <img src="../static/images/image-gallery (1).png" alt="">
                            </div>
                            <input id="Image-Post" type="file" name="Image-Post" multiple style="display:none" ;>
                            <p id="Post-P">Add Photos</p>
                        
                            <P>(Media files limited to 25MB)</p>
                        </div>
                        <div id="PUC-ImageCont">

                        </div>
                    </div>

                    <div id="Video-upload-container2">
                        <div class="Video-Upload-Top">
                            <button id="Remove-Post-Video"> &times;</button>
                        </div>
                        <div id="Video-upload-container">
                            <div id="PUC-Video">
                                <img src="../static/images/add-videos.png" alt="">
                            </div>
                            <input id="Video-Post" type="file" name="Video-Post" accept="video/*" multiple style="display:none" ;>
                            <p id="Post-V">Add Videos</p>
                            <P>(Media files limited to 25MB)</p>
                        </div>
                        <div id="PUC-VideoCont">

                        </div>
                    </div>
                </div>

                <div class="Modal-Bottom">
                    <div class="MB-Left">
                        <span>Options</span>
                    </div>

                    <div class="MB-Right">
                        <div id="Images-Icon" class="option-icon">
                            <img src="../static/images/photos-icon.png" alt="">
                        </div>
                            <!--
                        <div id="Videos-Icon" class="option-icon">
                            <img src="../static/images/vid.png" alt="">
                        </div>
                    
                        <div class="option-icon">
                            <img src="../static/images/label.png" alt="">
                        </div>
                            -->
                        <div id="Emoji-Icon" class="option-icon">
                            <img src="../static/images/smiling.png" alt="">
                            <div class="emoji-floating-div">
                                {% if emoji %}
                                    {% for emoji_code in emoji %}
                                        <div class="Emoji-Container" onclick="insertEmoji('{{ emoji_code }}')">
                                            {{ emoji_code | safe }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Modal-Bottom2">
                    <div class="MM-Top">
                        <span>Total Media Size:&nbsp;</span>
                        <span id="SizeCounter"></span>
                    </div>

                    <div class="MM-Bottom">
                        <button type="button" id="User-PostBtn">Post
                            <div id="loadingIndicator" ><img src="static/images/rolling.gif" alt=""></div>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}
