{% block modal %}
<div id="SeeAllModalPhoto-Overlay" style="display: none;">
    <div id="SeeAllModalPhoto-Container">

	    <button id="prevButton" class="modalButton"><</button>
        <div id="modalImageWrapper">
            <img id="modalImage" src="" alt="Image" />
        </div>
        <div id="photosContainer">
            {% for photo in photos %}
                <img class="photo-thumbnail" src="{{ photo.link }}" alt="Photo" data-index="{{ forloop.counter0 }}" style="display:none" />
            {% endfor %}
        </div>

        {% if not photos %}
            <div class="NCU-NoPhotos">
                <img src="../static/images/No-Product--Streamline-Tokyo (1).png" alt="">
                <span>{{ randomaccount.firstname }} has no photos</span>
            </div>
        {% endif %}

	<button id="nextButton" class="modalButton">></button>
    </div>
</div>
{% endblock %}
