<!-- templates/account/password_reset.html -->
{% extends "master.html" %}
{% load socialaccount %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/login.css' %}">
<script src="{% static 'js/login.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
<script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="background glass">
    <div class="Support-Box">
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
        <script type='text/javascript'>
            kofiwidget2.init('Support Me on Ko-fi', '#2847e0', 'S6S2YY2YZ');
            kofiwidget2.draw();
        </script>
    </div>
    <nav>
        <ul id="navbar">
            <div class="MC-Left">
                <a href="{% url 'About' %}">
                    <img src="https://ik.imagekit.io/b9bdd5j68/glow%20logo22.png/tr:q-100,tr:w-200,h-200" alt="">
                    <h1>glow</h1>
                </a>
            </div>
            <div class="MC-Cont">
                <a href="About#FeaturesSection">
                    <li>Features</li>
                </a>
                <a href="About#About-Section">
                    <li>About</li>
                </a>
                <a href="About#Contact-Section">
                    <li>Contact</li>
                </a>
            </div>

            <div class="MC-Right">
                <a href="{% url 'home' %}">
                    <li id="MC-SignUp">Back to home</li>
                </a>

                <div class="Menu">
                    <img src="../static/images/menu2.png" alt="">
                </div>
            </div>
        </ul>
        <div class="Down-Menu">
            <a href="{% url 'account_login' %}">
                <li>Login</li>
            </a>
            <a href="{% url 'account_signup' %}">
                <li>Signup</li>
            </a>
            <a href="#FeaturesSection">
                <li>Features</li>
            </a>
            <a href="#About-Section">
                <li>About</li>
            </a>
            <a href="#Contact-Section">
                <li>Contact</li>
            </a>
        </div>
    </nav>
    <div class="responsive">
        <div class="container glass2">
            <div class="container-content">
                <div class="CC-TopP">
                    <img src="{% static 'images/blue-check-mark-circular-approval-16214.svg' %}" alt="icon">
                    <h2>Password Changed</h2>
                    <p>Your password has been reset successfully. You can now <a href="{% url 'account_login' %}">log
                            in</a> with your new password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}